/*index.css*/
:root {
    --color-background: #E2E2DC;  /* Main Background */
    --color-secondary-bg: #BDC6C7; /* Secondary Background */
    --color-accent-light: #E6CEA1; /* Accent/Highlight */
    --color-accent-medium: #CCA770; /* Stronger Accent */
    --color-accent-dark: #AF7A38; /* Text & Emphasis */
  }
  
  * {
    background-color: var(--color-background);
  }


  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }



/*-----------------------------FOOTER-----------------------------*/

.footer-container {
  margin-top: auto; /* Pushes the footer to the bottom */
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}
/*-----------------------------END FOOTER-----------------------------*/
