/* index.css */
:root {
  --color-background: #E2E2DC;  /* Main Background */
  --color-secondary-bg: #BDC6C7; /* Secondary Background */
  --color-accent-light: #E6CEA1; /* Accent/Highlight */
  --color-accent-medium: #CCA770; /* Stronger Accent */
  --color-accent-dark: #AF7A38; /* Text & Emphasis */
}

* {
  background-color: var(--color-background);
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

body {
  flex: 1; 
}


/*___________________________________________HEADER___________________________________________*/


#logoImg img{
  width: 100px;
  height: auto;
  padding-left: 20px;
  padding-top: 20px;
}



/*___________________________________________END HEADER___________________________________________*/


/*___________________________________________FOOTER___________________________________________*/

.footer-container {
  margin-top: auto; 
  background-color: var(--color-secondary-bg);
  text-align: center;
  padding: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--color-secondary-bg);
  width: 100%; 
}

.footer a:hover {
  text-decoration: underline;
}
/*___________________________________________END FOOTER___________________________________________*/